* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
}

.containerOptions {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 80%;
    margin-right: 50px;
}

.optionWord {
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 88vh;
    background-image: url('image/pexels-pixabay-2159\ 1.png'), linear-gradient(to bottom, rgba(7, 9, 26, 0.8), rgba(123, 123, 126, 0.1));
    background-repeat: no-repeat;
    background-size: cover;
    
}

.body__title{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 55px;
    /* or 115% */

    text-align: center;

    color: #F1F1F1;

    text-shadow: 0px 4px 4px rgba(1, 1, 1, 0.5);
}

.title__words{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.body__button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 400px;
    background-color: #692DE9;
    color: #F2F2F2;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
}

.body__time{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerTime{
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 5px;
    background: rgba(3, 3, 3, 0.7);
}

.timer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteinerBody__two {
    display: flex;
    flex-direction: column;
    height: 70vh;
    padding: 20px;
    justify-content: center;
    background-color: #010101;
    color: #F1F1F1;
}

.iconsInformation_two{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    height: 35vh;
    margin-right: 220px;
}

.containerBody_three {
    display: flex;
    height: 80vh;
}

.containerBody_three_informations{
    display: flex;
    flex: 0.6;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(129.28deg, rgba(105, 45, 233, 1) 0.05%, rgba(105, 45, 233, 0.9) 0.06%, rgba(105, 45, 233, 0.9) 100%);;
    padding-left: 90px;
}

.checked {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius:999px;
    background-color: #F1F1F1;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.itemsChecked {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.font_checkedItems{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    color: #FFFFFF;
}

.containerBody_four {
    display: flex;
    flex-direction: column;
    height: 70vh;
    border: 1px solid red;
    background-color: #030303;
}